body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #60b8b5;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature {
    flex: 0 1 calc(33.33% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
